@import './variables.scss';
body, html {
    padding: 0;
    margin: 0;
}
.App{
    height: 100vh;
    background-image: url('../bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $textFont;
    font-size: 1em;
    color: $textColor;
}