@import './variables.scss';
// .people{
//     position: relative;
//     border: 1px solid black;
// }
.buttons::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 500%;
    top: -200%;
    left: 102%;
    background-color: $pinkColor;
}
.buttons{
    position: relative;
}

.buttons p{
    font-size: 1.2em;
    color: $secondaryTextColor;
}
.people h3{
    font-size: 3em;
    color: $textColor;
}
.buttons button{
    border: none;
    font-size: 1.2em;
}

.effect2{
    text-align: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: 600;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, $textColor, $textColor 50%, $pinkColor 50%);
    background-image: linear-gradient(to right, $pinkColor, $pinkColor 50%, $textColor 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.5s ease-in-out;
}
.effect2::before{
    z-index: 0;
    content: ' ';
    background-color: $pinkColor;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
}
.effect2:hover::before{
    width: 100%;
}
.effect2:hover{
    background-position: 0%;
}

@media (max-width: 800px) {
    .buttons p{
        font-size: 1em;
    }
    .people h3{
        font-size: 2em;
    }
    .buttons button{
        font-size: 1em;
    }
    .effect2{
        font-size: 1em;
    }
}